SPKAC=MIICRTCCAS0wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDYYAPu0kfMniWYXUN3KZePMzK0XEOjcDCza0ZcrOLo0I83KAh1HRoXS4CJPka33c8bdelPMfe4X2e+1fe4ni1ZS6eVx4qWtivi8nSnicDyRy4TLTqqMeXfOuHiAEA+KySWONeexm1qbV3gdDF3GrziQyS42MY/rqnFc66N/xbbvIYq2GCMb9HVuE1pALJRMzHfgsMfDk6RvIh6bfspBwkSBdJseVYeKkWaiuu4tHQao3xynDoECimXwnPBq0zoeAMJhPWEBbmAmAPIVH8MdNDNFpeKT9Cuc/Uh/poxVR1CGnTMFOCKQ9qfaBxCruqs7KqcsO8QihQqBxlrFqX6yJVBAgMBAAEWBWhlbGxvMA0GCSqGSIb3DQEBBAUAA4IBAQBEPEkum8RknYehICkebOCtAjPrGEY+Pkl8wRvUOM+t4LY3RPUReV/ndTaysCg6FnT6M3rDciZYA9X3wypFHgLcRVQQJ/zcY0daao0GXI+jXWRg6bkyI7cSMmfPV14sY4VHI+HaZIE8qQD3xHTdLO8XdsSKNlTVZIbm6Giti5BO/Y0ffV8Ad/DuGZbVVe+8yOFy0Vw4/xVuRaHxvoXKUgiYAu1Syw9TthiUqes2Cf7BK83rcvwQpMa8UG+5Fsk/kHn5ceM+kyhewXc27m1vDAdoUfgNvoVViMabPVFswGIXBAsn7YiuxqX6Nu5gY8JYygBfP19bXxbjl+MDz6kvGeF1
