extends layout

block content
	script
		function logout(elem) {
			alert('Trying..');
			if (document.all == null) {
				if (window.crypto) {
					try{
						window.crypto.logout();
						return false; //firefox ok -- no need to follow the link
					} catch (err) {//Safari, Opera, Chrome -- try with tis session breaking
					}
				} else { //also try with session breaking
			}
		} else { // MSIE 6+
			document.execCommand('ClearAuthenticationCache');
			return false;
		};
			return true
		}
	a(onclick='logout();',href='#') Logout